@import "tailwindcss";

:root {
  --background: radial-gradient(circle at top, #1a1f36, #0d0f18);;
  --foreground: #ffffff;
}

body {
  user-select: none;
  color: var(--foreground);
  background: var(--background);
}
